@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pour Chrome, Safari */
::-webkit-scrollbar {
    width: 5px;
    box-shadow: none;
}

::-webkit-scrollbar-track {
    background: #393939;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 0;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #00db93;
    box-shadow: none;
}

/* Pour Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #00ff00 #393939;
}

/* Swiper */
.swiper-wrapper {
    margin-top: 3rem;
}

.swiper-pagination {
    top: 1rem !important;
    bottom: inherit !important;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: white;
}
.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: white;
    background-image: url("./assets/icons/futbol-regular.svg");
}
.swiper-button-prev:after {
    display: none;
}
.swiper-button-next:after {
    display: none;
}
.swiper-button-disabled {
    display: none;
}