@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.modal-enter {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
.modal-exit {
    animation: slideOut 0.5s ease forwards;
}

/* Animation for the rain effect */
@keyframes rain {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Glitch effect for the text */
@keyframes glitch {
    0%, 100% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(0);
    }
    33% {
        clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
        transform: translate(-5px, -5px);
    }
    66% {
        clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
        transform: translate(5px, 5px);
    }
}

@keyframes rotateScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(90deg) scale(0.8);
    }
    100% {
        transform: rotate(180deg) scale(1.2);
    }
}
@keyframes rotateScale225 {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(90deg) scale(0.8);
    }
    100% {
        transform: rotate(225deg) scale(1.2);
    }
}

.rotate-scale {
    display: inline-block;
    animation: rotateScale 1s ease-in-out forwards;
}
.rotate-scale-225 {
    display: inline-block;
    animation: rotateScale225 2s ease-in-out forwards;
}

.sticky-element {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky-element.animatedTitle {
    font-size: 1.5rem;
    padding: 10px;
    height: 60px;
    transform: translateY(-10px);
}
.sticky-element.animatedTitle span:nth-child(2) {
    transform: translate(2px, 12px);
}
.sticky-element.animatedTitle span:nth-child(3) {
    transform: translate(3px, 14px);
}


/* Pour Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #00ff00 #393939;
}

.custom-x-scrollbar::-webkit-scrollbar {
    height: 8px;
}
.custom-x-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-x-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.custom-x-scrollbar::-webkit-scrollbar-thumb:focus {
    background: #555;
}
@media (max-width: 768px) {
    .custom-x-scrollbar::-webkit-scrollbar {
        height: 8px;
    }

    .custom-x-scrollbar::-webkit-scrollbar-thumb {
        background: #666;
    }
}

.stroke-black {
    -webkit-text-stroke: 1px #000000;
}
.text-stroke-black-2 {
    -webkit-text-stroke: 2px #000000;
}
.text-stroke-green-soft {
    -webkit-text-stroke: 2px #00CC99;
}
.text-stroke-yellow-soft {
    -webkit-text-stroke: 2px #FDD41D;
}
.text-stroke-red-medium {
    -webkit-text-stroke: 1px #FFFFFF;
}
.text-shadow-black {
    text-shadow: 2px 2px 0 rgba(0,0,0,1);
}
.text-shadow-yellow-medium {
    text-shadow: 2px 2px 0 #FDD41D;
}

.text-shadow-red {
    text-shadow: 0 0 20px rgb(230 10 14), 0 0 20px rgb(230 10 10 / 0%);
}

.text-shadow-glow-green {
    text-shadow: 4px 0px 5px #00ffcfad, 0px 4px 7px #00ffcfad;
}
.text-shadow-glow-purple {
    text-shadow: -4px 0px 7px #e700ffab, -2px -3px 4px #e700ffab;
}

.writing-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.text-glitch-animation::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    animation: glitch 2s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-2px, -2px);
    color: #000;
    text-shadow: 0 0 5px #000, 0 0 15px #000;
}

/* Week Recap - Table */
.sec-child-shadow-left.recap_table_head_cel:nth-child(0n+2) {
    box-shadow: -6px 0 12px -7px rgba(0,0,0,0.5);
}
.recap_table_body_inner_shadow {
    box-shadow: inset 0 5px 10px -6px rgba(0,0,0,0.5);
}

/* Swiper */
.swiper-wrapper {
    margin-bottom: 2rem;
}
.swiper-pagination {
    bottom: -1rem !important;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background-color: white;
    border: 1px solid black;
}
.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color: white;
    background-image: url("./assets/icons/futbol-regular.svg");
}
.swiper-button-prev:after {
    display: none;
}
.swiper-button-next:after {
    display: none;
}
.swiper-button-disabled {
    display: none;
}
.historySwiper:before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid black;
    border-radius: 0.75rem;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: inset 1px 4px 12px rgba(0,0,0,0.3);
    overflow: hidden;
}
.historySwiper .swiper-wrapper {
    margin-bottom: 0;
}
.historySwiper .swiper-wrapper .swiper-slide.swiper-slide-active {
    border: 1px solid black;
    border-radius: 0.75rem;
    transition: all 0.150s ease-in-out;
    transform: scale(0.85);
    background-color: #CC99FF;
}
.historySwiper .swiper-button-prev:focus {
    transform: scale(0.85);
}
/* Form Prono */
.label-element .border-black {
    box-shadow: 2px 2px 0 0 black;
}
.label-element .border-black:focus,
.label-element .border-black:active,
.label-element .border-black:focus-within,
.label-element .border-black:hover,
.label-element.checked .border-black {
    background-color: var(--team-color);
    box-shadow: inset 2px 2px 5px 0 black;
}

.form-submit-btn:disabled {
    filter: grayscale(1);
}

.clip-path-diagonal-left {
    clip-path: polygon(0 0, 100% 0, calc(100% - 4rem) 100%, 0% 100%);
    margin-right: -12%;
}
.clip-path-diagonal-right {
    clip-path: polygon(4rem 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: -12%;
}

.informations-text-styles > p {
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 1rem;
}
.informations-text-styles ul li p {
    line-height: 18px;
    margin-bottom: 1rem;
}
.informations-text-styles ul li p > span:nth-child(0n+1) {
    font-weight: 700;
}

/* Réglement */
.reglement-container h1,
.reglement-container h2,
.reglement-container h3,
.reglement-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}
.reglement-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 30px;
    color: black;
}

.reglement-container p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin: 1rem 0;
}

/* Loader */
.loader-wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader-wrapper .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("./assets/icons/futbol-regular.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 43%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease-in-out;
    will-change: transform, top, height, border-radius;
}
@keyframes circle {
    0%{
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.4);
    }
    50%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1.1);
    }
    100%{
        top: 0;
    }
}
.loader-wrapper .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 43%;
    filter: blur(2px);
    animation: shadow .5s alternate infinite ease-in-out;
    will-change: transform, opacity;
}

@keyframes shadow {
    0%{
        transform: scaleX(1.5);
    }
    50%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}

/* Rewards */
.trophySwiper .swiper-wrapper {
    margin-bottom: 0;
    position: relative;
    z-index: 6;
}

.trophy-container {
    perspective: 1000px;
}
.trophy-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 3s cubic-bezier(0.68,-0.55,0.27,1.55);
}
.trophy-front,
.trophy-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}
.trophy-back {
    transform: rotateY(180deg);
}
.trophy-active:hover .trophy-inner {
    animation: spin 1.5s cubic-bezier(0.18, -0.35, 0.37, 1.15) forwards;
}
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(1440deg);
    }
}

.trophy-bronze-rank-text {
    font-size: 18px;
    background: linear-gradient(40deg, rgba(103, 50, 8, 1) 0%, rgba(219, 108, 43, 1) 17%, rgba(243, 150, 93, 1) 36%, rgba(161, 79, 26, 1) 57%, rgba(103, 50, 9, 1) 79%, rgba(175, 86, 30, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.trophy-bronze-gradient {
    background: linear-gradient(40deg, rgba(103, 50, 8, 1) 0%, rgba(219, 108, 43, 1) 17%, rgba(243, 150, 93, 1) 36%, rgba(161, 79, 26, 1) 57%, rgba(103, 50, 9, 1) 79%, rgba(175, 86, 30, 1) 100%);
}

.trophy-silver-rank-text {
    font-size: 18px;
    background: linear-gradient(40deg, rgba(71,71,71,1) 0%, rgba(216,215,214,1) 17%, rgba(239,237,228,1) 36%, rgba(125,125,124,1) 57%, rgba(80,80,80,1) 79%, rgba(211,211,210,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.trophy-silver-gradient {
    background: linear-gradient(40deg, rgba(71,71,71,1) 0%, rgba(216,215,214,1) 17%, rgba(239,237,228,1) 36%, rgba(125,125,124,1) 57%, rgba(80,80,80,1) 79%, rgba(211,211,210,1) 100%);
}

.trophy-gold-rank-text {
    font-size: 18px;
    background: linear-gradient(40deg, rgba(163,122,28,1) 0%, rgba(211,168,77,1) 17%, rgba(255,236,148,1) 36%, rgba(211,168,77,1) 57%, rgba(163,122,28,1) 79%, rgba(255,215,124,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.trophy-gold-gradient {
    background: linear-gradient(40deg, rgba(163,122,28,1) 0%, rgba(211,168,77,1) 17%, rgba(255,236,148,1) 36%, rgba(211,168,77,1) 57%, rgba(163,122,28,1) 79%, rgba(255,215,124,1) 100%);
}

/* For Animations */
.title-animated {
    font-size: 50px;
    line-height: 50px;
}
.title-animated span {
    line-height: 50px;
    opacity: 1;
}

@keyframes rotateClockIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-clock-animation {
    animation: rotateClockIcon 2s ease-in-out infinite;
}

@keyframes rotateSimple {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotateSimple 30s linear infinite;
}

.fade-in {
    -webkit-animation: fade-in 0.5s ease-in-out both;
    animation: fade-in 0.5s ease-in-out both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
.jello-anim:hover .trophy-inner {
    -webkit-animation: jello-horizontal 0.4s both;
    animation: jello-horizontal 0.4s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    40% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    40% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* Media query pour les écrans en orientation portrait */
@media screen and (orientation: portrait) {
    .landscape-only {
        display: none;
    }

    .portrait-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #CCFFCC;
        color: black;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        text-wrap: pretty;
        padding: 2rem;
        text-transform: uppercase;
    }
}

/* Media query pour les écrans en orientation paysage */
@media screen and (orientation: landscape) {
    .landscape-only {
        display: block;
    }

    .portrait-warning {
        display: none;
    }
}

.anim-rotate-attract {
    animation: rotate-attract 1.4s ease-in-out;
}
@-webkit-keyframes rotate-attract {
    0% {
        transform: rotateY(0);
    }
    20% {
        transform: rotateY(25deg);
    }
    40% {
        transform: rotateY(-25deg);
    }
    60% {
        transform: rotateY(15deg);
    }
    80% {
        transform: rotateY(-15deg);
    }
    100% {
        transform: rotateY(0);
    }
}
@keyframes rotate-attract {
    0% {
        transform: rotateY(0);
    }
    20% {
        transform: rotateY(25deg);
    }
    40% {
        transform: rotateY(-25deg);
    }
    60% {
        transform: rotateY(15deg);
    }
    80% {
        transform: rotateY(-15deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.anim-rotate-y-attract {
    animation: rotate-y-attract 1.4s ease-in-out;
}
@-webkit-keyframes rotate-y-attract {
    0% {
        transform: rotateY(0);
    }
    20% {
        transform: rotateY(25deg);
    }
    40% {
        transform: rotateY(-25deg);
    }
    60% {
        transform: rotateY(15deg);
    }
    80% {
        transform: rotateY(-15deg);
    }
    100% {
        transform: rotateY(0);
    }
}
@keyframes rotate-y-attract {
    0% {
        transform: rotateY(0);
    }
    20% {
        transform: rotateY(25deg);
    }
    40% {
        transform: rotateY(-25deg);
    }
    60% {
        transform: rotateY(15deg);
    }
    80% {
        transform: rotateY(-15deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.profile-pic_shadow:before {
    content: "";
    position: absolute;
    left: 3rem;
    bottom: 0;
    right: 3rem;
    height: 0;
    z-index: 1;
    box-shadow: 0 0px 27px 7px rgba(0 0 0 / 75%);
    background: transparent;
    border-radius: 500px;
}
.profile_pic-container {
    transform: rotateY(180deg);
    background: rgb(96 83 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    transform-style: preserve-3d;
}
.profile_pic-container div:nth-child(0n+1) {
    transform-style: preserve-3d;
    transform: translateZ(1px);
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 200px;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
}
.profile_pic-container div:nth-child(0n+2) {
    transform-style: preserve-3d;
    transform: rotateY(180deg) translateZ(1px);
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 200px;
    width: 200px;
    -webkit-transform: translateZ(-0.755em);
    border: 1px solid #000000;
    overflow: hidden;
}
.profile_pic-container:before {
    background-color: rgb(96 83 0);
    position: absolute;
    border-radius: 50%;
    content: "";
    inset: 0;
    height: 200px;
    width: 200px;
    -webkit-transform: translateZ(-0.75em);
}
.profile_pic-container:after {
    background-color: rgb(96 83 0);
    content: "";
    left: 5.5em;
    position: absolute;
    height: 200px;
    width: 0.70em;
    z-index: -10;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
}

.custom-legend button:hover {
    transform: scale(1.05);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.particles-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bullet-container,
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.bullet-canvas,
.snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* Toggle Switch */
.toggle {
    display: flex;
    justify-content: center;
    position: relative;
}

.toggle-input {
    position: absolute;
    z-index: 2;
    bottom: 132.5%;
    border-radius: 50%;
    transform: rotate(-25deg);
    transform-origin: 50% 4.75em;
    width: 1.75em;
    height: 1.75em;
    opacity: 0;
    transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
    cursor: pointer;
}

.toggle-input:checked {
    transform: rotate(25deg);
}

.toggle-handle-wrapper {
    position: absolute;
    z-index: 1;
    bottom: -135%;
    -webkit-mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
    mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
    width: 200%;
    overflow: hidden;
}

.toggle-handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-25deg);
    transform-origin: bottom center;
    transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}

.toggle-input:checked + .toggle-handle-wrapper > .toggle-handle {
    transform: rotate(25deg);
}

.toggle-handle-knob {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    background-image: radial-gradient(farthest-corner at 70% 30%, #fedee2 4%, #d63534 12% 24%, #a81a1a 50% 65%, #d63534 75%);
    transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}

.toggle-input:checked + .toggle-handle-wrapper .toggle-handle-knob {
    transform: rotate(-90deg);
}

.toggle-handle-knob::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 8px 2px rgb(255 255 255 / 0.4);
    opacity: 0;
    transition: opacity 0.2s;
}

@media (hover: hover) {
    .toggle-input:hover + .toggle-handle-wrapper .toggle-handle-knob::after,
    .toggle-input:focus-visible + .toggle-handle-wrapper .toggle-handle-knob::after {
        opacity: 1;
    }
}

.toggle-handle-bar-wrapper {
    position: relative;
    width: 0.5em;
    height: 3em;
}

.toggle-handle-bar {
    position: absolute;
    top: -0.875em;
    left: 0;
    width: 100%;
    height: calc(100% + 0.875em);
    background-image: linear-gradient(to right, #777475, #a4a4a4, #fff 45% 55%, #a4a4a4, #777475);
    background-position-x: 0.06125em;
    transition: background-position-x 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
    box-shadow: inset 0 1em 0.25em rgb(0 0 0 / 0.4);
}

.toggle-input:checked + .toggle-handle-wrapper .toggle-handle-bar {
    background-position-x: -0.06125em;
}

.toggle-base {
    position: relative;
    border-radius: 3.125em;
    padding: 0.25em;
    width: 3.5em;
    height: 1.125em;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #d7d7d7);
    box-shadow:
            0 -0.25em 0.5em #fff,
            0 0.25em 0.5em #d7d7d7;
}

.toggle-base-inside {
    position: relative;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #a6a6a6, #7d7d7d);
    box-shadow:
            inset 0 0.0625em rgb(255 255 255 / 0.2),
            inset 0 -0.03125em rgb(255 255 255 / 1),
            inset 0 -0.0625em 0.25em rgb(0 0 0 / 0.1);
}

.toggle-base-inside::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #5ab054, #438c3c);
    box-shadow: inherit;
    opacity: 0;
    transition: opacity 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
    top: 0;
    left: 0;
}

.toggle-input:checked ~ .toggle-base .toggle-base-inside::after {
    opacity: 1;
}
