@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pour Chrome, Safari */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    box-shadow: none;
}

::-webkit-scrollbar-track {
    background: #393939;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 0;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #00db93;
    box-shadow: none;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.modal-enter {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
.modal-exit {
    animation: slideOut 0.5s ease forwards;
}

/* Pour Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #00ff00 #393939;
}

.stroke-black {
    -webkit-text-stroke: 1px #000000;
}
.text-shadow-black {
    text-shadow: 1px 2px 0 rgba(0,0,0,1);
}

/* Swiper */
.swiper-wrapper {
    margin: 3rem 0;
}

.swiper-pagination {
    bottom: 0rem !important;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: white;
}
.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: white;
    background-image: url("./assets/icons/futbol-regular.svg");
}
.swiper-button-prev:after {
    display: none;
}
.swiper-button-next:after {
    display: none;
}
.swiper-button-disabled {
    display: none;
}

/* Form Prono */
.label-element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ff00; /* ou toute autre couleur */
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: translate(0, 0);
    border: 2px solid black;
    z-index: 1;
}
.label-element.checked::before {
    content: "";
    transform: translate(5px, 5px);
}

.informations-text-styles > p {
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 1rem;
}
.informations-text-styles ul li p {
    line-height: 18px;
    margin-bottom: 1rem;
}
.informations-text-styles ul li p > span:nth-child(0n+1) {
    font-weight: 700;
}

/* Réglement */
.reglement-container h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 1rem 0;
    padding: 0 1rem;
    width: 100%;
}
.reglement-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 30px;
    color: black;
}

.reglement-container p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin: 1rem 0;
}

/* Loader */
.loader-wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader-wrapper .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("./assets/icons/futbol-regular.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 43%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}
@keyframes circle {
    0%{
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top: 0;
    }
}
.loader-wrapper .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 43%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}